doctype html
html(lang="en")
    head
        block head
            meta(charset="UTF-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            title Travellers Paradise | #{title} 
            link(rel="stylesheet" href="/css/style.css")
            link(rel="shortcut icon" type='image/png' href="/img/favicon.png")

    body
        // HEADER
        include _header
        
        // CONTENT
        block content 
            h1 This is a placeholder heading

        // FOOTER
        include _footer

        script(src="https://unpkg.com/axios@1.1.2/dist/axios.min.js")
        script(src='/js/login.js')
        